{
  "version": 1,
  "isRoot": true,
  "tools": {
    "csharpier": {
      "version": "{{CSharpierVersion}}",
      "commands": ["csharpier"],
      "rollForward": false
    },
    "dotnet-outdated-tool": {
      "version": "{{DotnetOutdatedVersion}}",
      "commands": ["dotnet-outdated"],
      "rollForward": false
    },
    "husky": {
      "version": "{{HuskyVersion}}",
      "commands": ["husky"],
      "rollForward": false
    }
  }
}
