{
  "$schema": "https://json.schemastore.org/stylecop.json",
  "settings": {
    "orderingRules": {
      "usingDirectivesPlacement": "outsideNamespace"
    },
    "maintainabilityRules": {
      "topLevelTypes": ["class", "interface", "struct", "enum", "delegate"]
    },
    "documentationRules": {
      "companyName": "{{Author}}",
      "xmlHeader": false
    },
    "layoutRules": {
      "newlineAtEndOfFile": "require"
    }
  }
}
