name: "CodeQL config"

paths-ignore:
  - "**/bin/"
  - "**/obj/"
  - "**/TestResults/"
  - "**/BenchmarkDotNet.Artifacts/"
  - "src/{{LibraryName}}.Tests/"
  - "src/{{LibraryName}}.Benchmarks/"
  - "smoketests/"
